node-red/flows.json
[{"id":"a9a3d49d.3aaad8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc9f46d1.e375a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1801920b.b2054e","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"e686f99b.63f4a8","type":"wirenboard-server","z":"","name":"MINE","host":"192.168.0.101","mqtt_port":"1883","mqtt_username":"","mqtt_password":""},{"id":"f36b1b9c.e75c38","type":"ui_tab","z":"","name":"Environment","icon":"wb_sunny","disabled":false,"hidden":false},{"id":"d84d6775.04e9f8","type":"ui_group","z":"","name":"Weather","tab":"f36b1b9c.e75c38","disp":true,"width":"6","collapse":false},{"id":"b5d3a33c.06bac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9fd1802e.60e09","type":"wirenboard-in","z":"a9a3d49d.3aaad8","name":"Server","server":"e686f99b.63f4a8","channel":["/devices/wb-mr6c_15/controls/K1"],"outputAtStartup":true,"x":270,"y":140,"wires":[["ffbeb41a.ba85a8"]]},{"id":"ffbeb41a.ba85a8","type":"debug","z":"a9a3d49d.3aaad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":120,"wires":[]},{"id":"7efc0548.56e98c","type":"wirenboard-button","z":"a9a3d49d.3aaad8","name":"","server":"e686f99b.63f4a8","channel":"/devices/wb-gpio/controls/EXT1_IN14","eventTypes":["Press"],"longPressDelay":1000,"longPressRange":0,"longpressTimerValueMin":0,"longpressTimerValueMax":100,"longpressTimerValueStep":5,"longpressTimerChangeDelayMs":100,"doubleClickDelay":600,"x":590,"y":240,"wires":[[]]},{"id":"617071a7.edd47","type":"openweathermap in","z":"a9a3d49d.3aaad8","name":"","wtype":"current","lon":"","lat":"","city":"khimki","country":"Russia","language":"en","x":180,"y":360,"wires":[["3b428bb6.398284"]]},{"id":"ccc4cb0f.7099b8","type":"inject","z":"a9a3d49d.3aaad8","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":300,"wires":[[]]},{"id":"f5256575.15a5a8","type":"debug","z":"a9a3d49d.3aaad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":560,"wires":[]},{"id":"3b428bb6.398284","type":"function","z":"a9a3d49d.3aaad8","name":"","func":"    msg.payload = msg.payload.tempc\n    return msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["f94c6fe5.9f89c","f5256575.15a5a8"]]},{"id":"42d11dc2.53aaf4","type":"ui_text","z":"a9a3d49d.3aaad8","group":"d84d6775.04e9f8","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-left","x":850,"y":420,"wires":[]},{"id":"f94c6fe5.9f89c","type":"ha-entity","z":"a9a3d49d.3aaad8","name":"Temperature","server":"1801920b.b2054e","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":""},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":670,"y":360,"wires":[["42d11dc2.53aaf4","f5256575.15a5a8"]]},{"id":"b66135b1.2b69c8","type":"openweathermap","z":"a9a3d49d.3aaad8","name":"","wtype":"current","lon":"","lat":"","city":"Khimki","country":"Russia","language":"en","x":350,"y":480,"wires":[["3b428bb6.398284"]]},{"id":"4e251a3c.f1eb84","type":"inject","z":"a9a3d49d.3aaad8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":500,"wires":[["b66135b1.2b69c8"]]},{"id":"c21f80fb.00129","type":"wirenboard-in","z":"a9a3d49d.3aaad8","name":"","server":"e686f99b.63f4a8","channel":["/devices/wb-msw-v3_247/controls/Current Motion"],"outputAtStartup":true,"x":190,"y":700,"wires":[[]]},{"id":"47a5128a.79525c","type":"server-state-changed","z":"cc9f46d1.e375a8","name":"Office Motion","server":"1801920b.b2054e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.office_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":110,"y":200,"wires":[["2fd10653.6d274a"]]},{"id":"c4a4a0e8.86592","type":"stoptimer","z":"cc9f46d1.e375a8","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"20min","x":470,"y":240,"wires":[["c18f9685.5b3b08"],[]]},{"id":"c18f9685.5b3b08","type":"api-call-service","z":"cc9f46d1.e375a8","name":"OFF","server":"1801920b.b2054e","version":"1","debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.Office","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":234,"wires":[[]]},{"id":"c710ef84.b0a5a","type":"api-call-service","z":"cc9f46d1.e375a8","name":"ON","server":"1801920b.b2054e","version":"1","debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.Office","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930.1666526794434,"y":193.95236015319824,"wires":[[]]},{"id":"2fd10653.6d274a","type":"switch","z":"cc9f46d1.e375a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":270,"y":200,"wires":[["c4a4a0e8.86592","5991f563.473fbc"],["c4a4a0e8.86592"]]},{"id":"5991f563.473fbc","type":"api-current-state","z":"cc9f46d1.e375a8","name":"Already On?","server":"1801920b.b2054e","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.office","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":668,"y":193,"wires":[[],["c710ef84.b0a5a"]]}]